<div class="row my-5">
  <div class="col-6">
    <code>
      <%=  JSON.stringify(data) %>
     </code>
  </div>
  <div class="col-6">
    <code>
      <%= JSON.stringify(application) %>
    </code>
  </div>
</div>